*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav{
  background-color: #000000;
}

.box-part-carrusel{
  display: inline-block;
	width: 100%;
	background-image: url('https://professor-falken.com/wp-content/uploads/2017/01/noche-estrellas-espacio-constelacion-galaxia-universo-Fondos-de-Pantalla-HD-professor-falken.com_.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
}

.carrusel-deskopt{
  margin-top: 200px;
}

.carrusel-movil{
  margin-top: -100px;
}

.content-text-comic, body{
  background:#fff;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.logo{
  margin-top: 0.5em;
  width: 9em;
  height: 3em;
  margin-left: 1em;
}

.box-text{
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  background:#fff;
  border: solid black;
  border-color: black;
  float:left;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.text-comic{
  width:80%;
  margin:10%;
  transform: rotate(-2deg);
}

.img-info1{
  border-radius: 50%;
  margin-top: 5%;
}

.nav-select, .logo{
  color:white;
}

.style-option{
  color: red;
}

.comic-content{
  width: 100%;
  height: 150px;
  top: 60px;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
}

.text {
  width: 85%;
  height: 130px;
  position: absolute;
  left: 37px;
  transform: skew(-15deg);
  box-shadow: 3px 5px 10px rgba(0,0,0,0.1);
  z-index: 1;
}

.text:before {
  content: "";
  position: absolute;
  height: 130px;
  width: 20px;
  left: -27px;
  transform: skew(15deg);
  background: white;
  border-left: 1px solid rgba(0,0,0,0.05);
  -webkit-backface-visibility: hidden;
}

.content-inf-2{
  display: inline-block;
	width: 100%;
	background-image: url('http://www.hdfondos.eu/preview/get_photo/72032/1920/1200');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 15%;
	justify-content: flex-end;
}

.content-inf-5{
  display: inline-block;
	width: 100%;
	background-image: url('https://images7.alphacoders.com/510/thumb-1920-510603.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 15%;
	justify-content: flex-end;
}
.img-info3{
  height: 150px;
  margin-top: 3%;
  margin-bottom: 3%;
}
.style-h5{
  font-size: 50px;
}
.content-box-comic{
  position: absolute;
  right: 0px;
  width: 650px;
  height: 95px;
}

.logo-dc{
  margin: 20px;
}

figcaption{
    border-radius: 1px 100px 100px 100px;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-color:black;
    padding:30px;
    width:200px;
    height:100px;
    bottom: 140px;
    right: 18px;
    color:black;
    margin:100px;
}
/*
#m {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

#m img {
  position: absolute;
  opacity: 0;
  height: 300px;
}*/
#m {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}

.img-data {
 position: absolute;
 opacity: 0;
 height: 400px;
 margin-top: -100px;
}

#peliculas img{
  width:100%;


}
@media(min-width:960px){
  #peliculas .well{
    height: 420px;
  }

  #peliculas img{
    height:320px;
  }
}

.cont-inf-film{
  text-align: justify;
}

.style-title{
  font-size: 100px;
  color: white;
  text-align: center;
}

.cont-inf{
  display: inline-block;
	width: 100%;
	background-image: url('https://images7.alphacoders.com/568/568756.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 15%;
	justify-content: flex-end;
  color: white;
  font-size: 39px;
}
