* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



.background-heroes{
  background: url(../assets/images/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/** ------MARVEL----HOME------/*/
@import url(https://fonts.googleapis.com/css?family=Bangers);

.nav{
  background-color: #000000;
}

.box-part-carrusel{
  display: inline-block;
	width: 100%;
  background-image: url('https://apod.nasa.gov/apod/image/0901/ngc2419a7_hammar.jpg');
  /*http://www.hdfondos.eu/preview/get_photo/506983/1920/1200*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
}

.carrusel-deskopt{
  margin-top: 15em;
}

.carrusel-movil{
  margin-top: -100px;
}


/*Estilos para la vista Marvel Film*/
#movies img, #movie-details img{
  width:100%;
  
  
}
@media(min-width:960px){
  #movies .well{
    height: 420px;
  }

  #movies img{
    height:320px;
  }
} 
.white-roboto{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.btn-black{
  background-color:black;
}
