* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}



.background-heroes{
  background: url(../assets/images/principal3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.container-buttons{
  display: flex;
	flex-direction: row;
    justify-content: center;
    
    
}
.container-buttons .btn-md{
  margin-top: 30%;
  margin-left:3%;
  margin-right: 3%;
} 

.btn-md{
  background: #1c314c;
  border: none;
  letter-spacing: 0.1em;
  font-size: 2em;
  width: 4em;
  color: white;
}


/** ------MARVEL----HOME------/*/

.logo{
  margin-top: 0.5em;
  width: 9em;
  height: 3em;
  margin-left: 1em;
}
.nav{
  background-color: #000000;
}
.content-text-comic, body{
  background:#fff;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}
.nav-select, .logo{
  color:white;
}

.box-part-carrusel{
  display: inline-block;
	width: 100%;
  background-image: url('https://apod.nasa.gov/apod/image/0901/ngc2419a7_hammar.jpg');
  /*http://www.hdfondos.eu/preview/get_photo/506983/1920/1200*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 95%;
	justify-content: flex-end;
}

.carrusel-deskopt{
  margin-top: 9em;
}

.carrusel-movil{
  margin-top: -100px;
}


/*Estilos para la vista Marvel Film*/
#movies img, #movie-details img{
  width:100%;
  
  
}
@media(min-width:960px){
  #movies .well{
    height: 420px;
  }

  #movies img{
    height:320px;
  }
} 
.white-roboto{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.btn-black{
  background-color:black;
}
