<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/DChome.css">
  </head>
  <body>
    <!--Movil-->
    <!--Nav-->
    <div class="nav nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="logo col s12 l6">
            <a class="" href="../index.html">
              <img src="../assets/images/LOGO2.png" alt="Marvel vs DC" class="img-responsive logo">
            </a>
          </div>
          <div class="nav-select input-field col s6 l3">
            <select id="select-character" class="icons">
              <option value="" disabled selected>SUPER HÉROES</option>
              <option value="superman" data-icon="https://st-listas.20minutos.es/images/2012-04/329009/3507860_640px.jpg?1424188531" class="left circle">Superman</option>
              <option value="batman" data-icon="https://i.ytimg.com/vi/q2Xw89AIKfg/hqdefault.jpg" class="left circle">Batman</option>
              <option value="wonder woman" data-icon="https://i.pinimg.com/736x/46/be/3f/46be3f25b63ef94dc5692228300815a0--mac-cosmetics-childhood-memories.jpg" class="left circle">Wonder Woman</option>
              <option value="flash" data-icon="http://3.bp.blogspot.com/_FMEJcIcnSqo/TPQNgraGYQI/AAAAAAAAB6k/6ZZMbfA_bZA/s1600/flash01.jpg" class="left circle">Flash</option>
            </select>
          </div>
          <div class="nav-select input-field col s6 l3">
            <select class="icons">
              <option value="" disabled selected>VILLANOS</option>
              <option value="" data-icon="http://4.bp.blogspot.com/-TXvhtf2jyN0/UkjDjBBMVwI/AAAAAAAAAS8/4P-t0aKFrE0/s1600/El_Huason_01+copia.jpg" class="left circle">Guasón</option>
              <option value="" data-icon="https://i.pinimg.com/736x/05/27/6c/05276cc0518b22dc713c7a45f372d3b4--lex-luthor-comic-books.jpg" class="left circle">Lex Luthor</option>
            </select>
          </div>
          <!-- cambios lilliam -->
          </div>
        </div>
      </div>
    </div>
    <!--part-home-inferior CARRUSEL-->
    <div class="box-part-carrusel container-flex">
      <div class="row">
        <!--part-home-inferior LOGO DC-->
        <div class="logo-dc">
          <img class="offset-s3 offset-l5 col s6 l2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/DC_Comics_logo.svg/2000px-DC_Comics_logo.svg.png" alt="">
        </div>
        <!--part-home-inferior CARRUSEL movil-->
        <div class="carrusel-movil hide-on-large-only col s12">
          <div class="carousel">
            <a class="btn-photo-redirecciona carousel-item" href="#one!">
              <img src="https://www.geekgirlauthority.com/wp-content/uploads/2017/11/Untitled-1-1024x572.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="btn-videos carousel-item" href="#two!">
              <img src="http://www.comicsuniverse.it/wp-content/uploads/2017/06/rocksteady-batman-farewell-gamesoul-2.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#three!">
              <img src="https://images7.alphacoders.com/760/760447.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#four!">
              <img src="http://henrycavill.org/images/Films/2016-Batman-v-Superman/promo/BVSLogo-Horizontal-UHQ-BVSDJ-Txtd.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#five!">
              <img src="https://sm.ign.com/ign_es/screenshot/default/maxresdefault_efdj.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
          </div>
        </div>
        <!--part-home-inferior CARRUSEL deskopt-->
        <div class="carrusel-deskopt hide-on-small-only">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="https://www.geekgirlauthority.com/wp-content/uploads/2017/11/Untitled-1-1024x572.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://www.comicsuniverse.it/wp-content/uploads/2017/06/rocksteady-batman-farewell-gamesoul-2.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="https://images7.alphacoders.com/760/760447.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://henrycavill.org/images/Films/2016-Batman-v-Superman/promo/BVSLogo-Horizontal-UHQ-BVSDJ-Txtd.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="https://sm.ign.com/ign_es/screenshot/default/maxresdefault_efdj.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="probando content-inf-1">
      <div class="container-flex">
        <div class="row">
          <div class="offset-l2">
            <div class="content-text-comic col s12 l4">
              <div class="box-text">
                <div class="text-comic">Fue fundada en 1934 bajo el nombre National Allied Publications, para luego tomar el nombre de DC Comics en 1937. Las iniciales «DC» son una abreviatura de Detective Comics, uno de los primeros títulos emblemáticos de la compañía.</div>
              </div>
            </div>
            <div>
              <img class="col s12 l4 img-info1" src="https://cdn3.areajugones.es/wp-content/uploads/2015/09/Universo-DC.jpg" alt="">
            </div>
            <div class="content-text-comic col s12 l4">
              <div class="box-text">
                <div class="text-comic">Entre algunos de sus personajes más emblemáticos se encuentran Superman, Batman, la Mujer Maravilla, Flash, Linterna Verde, Aquaman, Flecha Verde, Supergirl y grupos de héroes como Liga de la Justicia o Los Jóvenes Titanes. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="probando content-inf-2">
      <div class="container-flex">
        <div class="row">
          <div class="offset-l2 content-inf-2">
            <h5 class="text-center style-h5"> Los personajes ficticios Superman, Batman, y la Mujer Maravilla son superhéroes famosos de este universo.</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="probando content-inf-3">
      <div class="container-flex">
        <div class="row">
          <div class="comic-content  offset-l3 col l4 s8">
            <div class="text">
              <p>La pelicula Batman y Robin es considerada como una de la peores pelicula de DC</p>
            </div>
          </div>
          <img class="col l2 s4 img-info3" src="https://juanpitdf.files.wordpress.com/2013/10/batmanyrobin.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="probando content-inf-4">
      <div class="container-flex">
        <div class="row offset-l2 col l10">
          <img src="https://cdn.pixabay.com/photo/2017/05/24/13/05/comic-2340467_960_720.png" alt="" class="col l6 s6">
          <img src="https://i.imgur.com/viVCYYz.png" alt="" class="col l6 s6">
        </div>
      </div>
    </div>

    <div class="probando content-inf-5">
      <div class="container-flex">
        <div class="row">
          <figcaption class="offset-l1 col l4 animated lightSpeedIn">
            <div class="input-group">
              <p>sgdosakndl</p>
            </div>
          </figcaption>
          <figcaption class="offset-l1 col l4 animated lightSpeedIn">
            <div class="input-group">
              <p>sgdosakndl</p>
            </div>
          </figcaption>
        </div>
      </div>
    </div>




    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/workdata.js"></script>
    <script type="text/javascript" src="../js/nuevadataDC.js"></script>
    <script type="text/javascript" src="../js/slider.js"></script>
  </body>
</html>
