<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../css/DChome.css">
  </head>
  <body>
    <!--Movil-->
    <!--Nav-->
    <div class="nav nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="logo col s12 l6">
            LOGO
          </div>
          <div class="nav-select input-field col s6 l3">
            <select class="icons">
              <option value="" disabled selected>SUPER HÉROE</option>
              <option value="" data-icon="https://st-listas.20minutos.es/images/2012-04/329009/3507860_640px.jpg?1424188531" class="left circle">Superman</option>
              <option value="" data-icon="https://i.ytimg.com/vi/q2Xw89AIKfg/hqdefault.jpg" class="left circle">Batman</option>
              <option value="" data-icon="https://i.pinimg.com/736x/46/be/3f/46be3f25b63ef94dc5692228300815a0--mac-cosmetics-childhood-memories.jpg" class="left circle">Wonder Woman</option>
              <option value="" data-icon="http://3.bp.blogspot.com/_FMEJcIcnSqo/TPQNgraGYQI/AAAAAAAAB6k/6ZZMbfA_bZA/s1600/flash01.jpg" class="left circle">Flash</option>
            </select>
          </div>
          <div class="nav-select input-field col s6 l3">
            <select class="icons">
              <option value="" disabled selected>VILLANOS</option>
              <option value="" data-icon="http://4.bp.blogspot.com/-TXvhtf2jyN0/UkjDjBBMVwI/AAAAAAAAAS8/4P-t0aKFrE0/s1600/El_Huason_01+copia.jpg" class="left circle">Guasón</option>
              <option value="" data-icon="https://i.pinimg.com/736x/05/27/6c/05276cc0518b22dc713c7a45f372d3b4--lex-luthor-comic-books.jpg" class="left circle">Lex Luthor</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!--part-home-inferior CARRUSEL-->
    <div class="box-part-carrusel container-flex">
      <div class="row">
        <!--part-home-inferior LOGO DC-->
        <div class="logo-dc">
          <img class="offset-s3 offset-l4 col s6 l4" src="http://da75ad2241a052658ba0-52e5aec7dc9b972026a9f1e296cb990a.r2.cf2.rackcdn.com/DC%20Comics%20logo.png" alt="">
        </div>
        <!--part-home-inferior CARRUSEL movil-->
        <div class="carrusel-movil hide-on-large-only">
          <div class="carousel">
            <a class="btn-photo-redirecciona carousel-item" href="#one!">
              <img src="https://geekandsundry.com/wp-content/uploads/2015/05/justice-leauge-e1432851792873-970x545.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="btn-videos carousel-item" href="#two!">
              <img src="http://sf.co.ua/13/06/wallpaper-2837413.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#three!">
              <img src="http://www.dccomics.com/sites/default/files/GalleryChar_1900x900_JL3_14-15_52ab8f55dc6f22.91291238.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#four!">
              <img src="http://www.passion-estampes.com/deco/affiches/comics/dc-comics-batman-forever.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#five!">
              <img src="http://www.dccomics.com/sites/default/files/FLSPv2_Cv1_R1_marquee_57ef19df8d0256.03779299.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
          </div>
        </div>
        <!--part-home-inferior CARRUSEL deskopt-->
        <div class="carrusel-deskopt hide-on-small-only">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="https://geekandsundry.com/wp-content/uploads/2015/05/justice-leauge-e1432851792873-970x545.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://sf.co.ua/13/06/wallpaper-2837413.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://www.dccomics.com/sites/default/files/GalleryChar_1900x900_JL3_14-15_52ab8f55dc6f22.91291238.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://www.passion-estampes.com/deco/affiches/comics/dc-comics-batman-forever.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://www.dccomics.com/sites/default/files/FLSPv2_Cv1_R1_marquee_57ef19df8d0256.03779299.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="probando">
      <div class="container-flex">
        <div class="row">
          <div class="offset-l2 l12">
            <div class="content-text-comic col s12 l4">
              <div class="box-text">
                <div class="text-comic">María Tereesa Ruiz QUispe María Tereesa Ruiz QUispe</div>
              </div>
            </div>
            <div>
              <img class="col s12 l4" src="https://demoalto-impresionesaerea.netdna-ssl.com/2018/01/dc-comics-universe.jpg" alt="">
            </div>
          </div>

          <div class="comic-content">
            <div class="text">
              <p>María Tereesa Ruiz QUispe María Tereesa Ruiz QUispe</p>
            </div>
          </div>
          <figcaption class="animated lightSpeedIn">
            <div class="input-group">
              <p>sgdosakndl</p>
            </div>
          </figcaption>
        </div>
      </div>
    </div>




    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/dataDC.js"></script>
  </body>
</html>
