<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Ranga:100,200,300,400,500,600,700,800,900" rel="stylesheet">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--Movil-->
    <!--Nav-->
    <div class="nav nav-movil container-flex">
      <div class="row">
        <div class="col s12 l12 xl12">
          <div class="input-field col s6 l4">
            <select class="icons">
              <option value="" disabled selected>SUPER HÉROE</option>
              <option value="" data-icon="../assets/images/thor.jpg" class="left circle">Thor</option>
              <option value="" data-icon="../assets/images/ironman.jpg" class="left circle">Iron man</option>
              <option value="" data-icon="../assets/images/viuda.jpg" class="left circle">Viuda negra</option>
              <option value="" data-icon="images/yuna.jpg" class="left circle">Hombre araña</option>
            </select>
          </div>
          <div class="input-field col s6 l4">
            <select class="icons">
              <option value="" disabled selected>VILLANOS</option>
              <option value="" data-icon="../assets/images/loki.jpg" class="left circle">Loki</option>
              <option value="" data-icon="images/office.jpg" class="left circle"></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!--part-home-inferior CARRUSEL-->
    <div class="box-part-carrusel container-flex">
      <div class="row">
        <!--part-home-inferior LOGO DC-->
        <div class="logo-dc">
          <img class="offset-s3 offset-l4 col s6 l4" src="https://vignette.wikia.nocookie.net/logopedia/images/a/a8/Marvel-logo.png/revision/latest/scale-to-width-down/640?cb=20140701230531" alt="">
        </div>
        <!--part-home-inferior CARRUSEL movil-->
        <div class="carrusel-movil hide-on-large-only">
          <div class="carousel">
            <a class="btn-photo-redirecciona carousel-item" href="#one!">
              <img src="https://images3.alphacoders.com/674/thumb-350-674048.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="btn-videos carousel-item" href="#two!">
              <img src="https://img.cinemablend.com/quill/4/b/a/4/b/e/4ba4be0d97401fe9171cf55e5dc06ebfb7563eb6.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#three!">
              <img src="http://static.alfabetajuega.com/abj_public_files/multimedia/imagenes/201605/148164.alfabetajuega-ironman.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#four!">
              <img src="http://media.comicbook.com/2016/07/captain-america-the-first-avenger-wallpaper-26-188840.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
            <a class="carousel-item" href="#five!">
              <img src="https://static.diariouno.com.ar/adjuntos/212/imagenes/007/649/0007649389.jpg">
              <div class="caption center-align">
                <h3 class="style-letter-corousel"></h3>
              </div>
            </a>
          </div>
        </div>
        <!--part-home-inferior CARRUSEL deskopt-->
        <div class="carrusel-deskopt hide-on-small-only">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="http://as01.epimg.net/deporteyvida/imagenes/2017/10/31/portada/1509450367_263061_1509450527_noticia_normal.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://www.radioacktiva.com/wp-content/uploads/2015/08/Iron-man-720x255.png"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/11/Black-Widow-Avengers-Age-Of-Ultron-Movie-Wallpapers.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="http://www.elmulticine.com/imagenes/noticias/17/thor-3-loki-pic3dss-pxl2.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
              <li>
                <img src="https://i.pinimg.com/originals/60/34/41/60344143664d2a4b7ca55c9b876fae3b.jpg"> <!-- random image -->
                <div class="caption center-align">
                  <h3 class="letter-slider"></h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>