<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title></title>
   <link href="https://fonts.googleapis.com/css?family=Pacifico|Ranga:100,200,300,400,500,600,700,800,900" rel="stylesheet">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
   crossorigin="anonymous">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="../vendors/Bootstrap/css/Bootstrap.min.css">
   <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
   <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/homepage2.css">
 </head>
 <body>
   <!--Movil-->
   <!--Nav-->
   <div class="nav-movil container-flex">
     <div class="row">
       <div class="col s12 l12 xl12">
         <div class="input-field col s6 m4">
           <select class="icons">
             <option value="" disabled selected>SUPER HÉROE</option>
             <option value="" data-icon="images/sample-1.jpg" class="left circle">Superman</option>
             <option value="" data-icon="images/office.jpg" class="left circle">Batman</option>
             <option value="" data-icon="images/yuna.jpg" class="left circle">Wonder Woman</option>
           </select>
         </div>
         <div class="input-field col s6 m4">
           <select class="icons">
             <option value="" disabled selected>VILLANOS</option>
             <option value="" data-icon="images/sample-1.jpg" class="left circle">Wason</option>
             <option value="" data-icon="images/office.jpg" class="left circle">Lex Luthor</option>
           </select>
         </div>
         <div class="nav-wrapper col s6 m4">
           <form>
             <div class="input-field">
               <input id="search" type="search" required>
               <label class="label-icon" for="search"><i class="material-icons">search</i></label>
               <i class="material-icons">close</i>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
   <!--part-home-inferior-->
   <div class="container-flex">
     <div class="row">
       <div class="hide-on-large-only">

       </div>
       <div class="hide-on-small-only">

         </div>
		 
		<input type="text"  placeholder="Filtrar" id="input-search">
       </div>
     </div>
    



   <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="../vendors/Bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
   <script src="https://momentjs.com/downloads/moment.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script type="text/javascript" src="../js/app.js"></script>
 </body>
</html>